ch-openai-checkout-app/__pycache__/
ch-openai-checkout-app/*.py[cod]
ch-openai-checkout-app/*.pyd
ch-openai-checkout-app/*.pyo

ch-openai-checkout-app/.venv/
ch-openai-checkout-app/venv/
ch-openai-checkout-app/ENV/
ch-openai-checkout-app/env/

ch-openai-checkout-app/.pytest_cache/
ch-openai-checkout-app/.mypy_cache/
ch-openai-checkout-app/.ruff_cache/

build/
dist/
*.egg-info/

.idea/
.vscode/

.DS_Store
Thumbs.db

ch-openai-checkout-ui/assets/*
ch-openai-checkout-ui/node_modules/
ch-openai-checkout-ui/.npmrc
ch-openai-checkout-ui/.yarnrc
ch-openai-checkout-ui/pnpm-lock.yaml
ch-openai-checkout-ui/npm-debug.log*
ch-openai-checkout-ui/yarn-error.log*


